# Directories
.cache
.clangd
compile_commands.json
artifacts
bin
coverage
dist
dumps
lib
listings
node_modules
out
typedoc*
zowe-native-proto-package

# Files
.DS_Store
config.*.json
config.yaml
tsconfig.tsbuildinfo
zowe.config.json
zowe.schema.json
native/python/app/config/service-configuration.yml
native/python/app/keystore/*
!native/python/app/keystore/*.sh
native/python/bindings/test/fixtures/env.yml
test.py
test-results.xml
