# Directories
artifacts
bin
coverage
dist
dumps
lib
listings
node_modules
out
typedoc
zowe-native-proto-package

# Files
.DS_Store
config.*.json
native/golang/zowed*
tsconfig.tsbuildinfo
zowe.config.json
zowe.schema.json
