# Directories
artifacts
bin
coverage
dist
dumps
lib
listings
node_modules
out
typedoc
zowe-native-proto-package
native/python/app/keystore

# Files
.DS_Store
config.*.json
config.yaml
native/golang/zowed*
tsconfig.tsbuildinfo
zowe.config.json
zowe.schema.json
native/python/app/config/service-configuration.yml