name: Build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-client:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows, macos]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - run: npm ci

      - run: npm run build

      - run: |
          RUN_ID=$(gh run list --commit=${{ github.event.pull_request.head.sha || github.sha }} --workflow=zos-build.yml --status=in_progress --json=databaseId --jq='.[0].databaseId')
          [ -z "$RUN_ID" ] || gh run watch $RUN_ID
          gh run download --name zowe-server
          mkdir packages/cli/bin && cp server.pax.Z packages/cli/bin/
          mkdir packages/vsce/bin && cp server.pax.Z packages/vsce/bin/
        env:
          GH_TOKEN: ${{ github.token }}

      - run: npm run package

      - uses: actions/upload-artifact@v4
        if: ${{ matrix.os == 'ubuntu' }}
        with:
          name: zowe-native-proto-cli
          path: dist/*.tgz

      - uses: actions/upload-artifact@v4
        if: ${{ matrix.os == 'ubuntu' }}
        with:
          name: zowe-native-proto-vsce
          path: dist/*.vsix

  build-native:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: cd native/golang && go build
