name: Lint

on: [pull_request]

jobs:
  lint-client:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Biome
        uses: biomejs/setup-biome@v2

      - name: Run Biome
        run: biome ci packages

  lint-native:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Run GolangCI-Lint
        uses: golangci/golangci-lint-action@v6
        with:
          working-directory: native/golang

      - name: Run Cpp-Linter
        uses: cpp-linter/cpp-linter-action@v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          repo-root: native/zowed
          style: file
