name: z/OS Python Build

on:
  pull_request:
    paths:
      - ".github/workflows/zos-py-build.yml"
      - "native/python/**"
  # push:
  #   branches:
  #     - main
  workflow_call:
    inputs:
      version:
        required: false
        type: string
    secrets:
      SSH_MARIST_RACF_HOST:
        required: true
      SSH_MARIST_ZNP_PASS:
        required: true
      SSH_MARIST_ZNP_ID:
        required: true

permissions:
  pull-requests: write

jobs:
  build-python:
    runs-on: ubuntu-latest
    concurrency:
      group: "zos-build"
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Set up Credentials
        run: |
          cat << EOF > config.yaml
          activeProfile: default

          profiles:
            default:
              sshProfile:
                host: ${{ secrets.SSH_MARIST_RACF_HOST }}
                port: 65522
                user: "${{ secrets.SSH_MARIST_ZNP_ID }}"
                password: "${{ secrets.SSH_MARIST_ZNP_PASS }}"
              deployDir: "/ZOWE/tmp/zowe-native-proto"
          EOF

      - name: Install Dependencies
        run: npm ci --workspaces=false

      - name: Upload Python Bindings
        run: npm run z:upload

      - name: Build Python Bindings
        run: npm run z:build:python

      - name: Test Python Bindings
        run: npm run z:test:python

      - name: Clean up on z/OS
        if: always()
        run: npm run z:delete
