name: z/OS Build

on:
  pull_request:
    paths:
      - ".github/workflows/zos-build.yml"
      - "native/**"
  push:
    branches:
      - main
  workflow_call:
    inputs:
      version:
        required: false
        type: string
    secrets:
      SSH_MARIST_RACF_HOST:
        required: true
      SSH_MARIST_RACF_PASSWORD:
        required: true
      SSH_MARIST_USERNAME:
        required: true

permissions:
  checks: write
  pull-requests: write

jobs:
  build-server:
    runs-on: ubuntu-latest
    concurrency:
      group: "zos-build"
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Set up Credentials
        run: |
          cat << EOF > config.yaml
          activeProfile: default

          profiles:
            default:
              sshProfile:
                host: ${{ secrets.SSH_MARIST_RACF_HOST }}
                port: 65522
                user: "${{ secrets.SSH_MARIST_USERNAME }}"
                password: "${{ secrets.SSH_MARIST_RACF_PASSWORD }}"
              deployDir: "/ZOWE/tmp/zowe-native-proto"
          EOF

      - name: Install Dependencies
        run: npm ci --workspaces=false

      - name: Set Build Version
        if: ${{ inputs.version }}
        run: npm pkg set version=${{ inputs.version }}

      - name: Build on z/OS
        run: npm run z:all

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: Test results
          path: native/c/test/test-results.xml,native/zowed/test/test-results.xml
          reporter: jest-junit

      - uses: actions/upload-artifact@v4
        with:
          name: zowe-server-bin
          path: packages/cli/bin/*

      - uses: actions/upload-artifact@v4
        id: pax-artifact-upload
        with:
          name: zowe-server-release
          path: dist/server.pax.Z

      - name: Comment on PR
        if: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository }}
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: Server artifacts
          number: ${{ github.event.pull_request.number }}
          message: |
            Server artifacts:
             - PAX: ${{ steps.pax-artifact-upload.outputs.artifact-url }}

      - name: Clean up on z/OS
        if: always()
        run: npm run z:delete
