name: zos-build

on:
  push:
    paths:
      - ".github/workflows/zos-build.yml"
      - "native/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Set up Credentials
        run: |
          echo '{"host": "${{ secrets.SSH_MARIST_RACF_HOST }}", "port": 65522, "username": "${{ secrets.SSH_MARIST_USERNAME }}", "password": "${{ secrets.SSH_MARIST_RACF_PASSWORD }}", "deployDirectory": "/ZOWE/tmp/zowe-native-proto", "goEnv": "GOTMPDIR=/ZOWE/tmp"}' > tools/build/config.local.json

      - name: Build (Local)
        run: npm install && npm run build:tools

      - name: Build (z/OS)
        run: npm run tools:all && npm run tools:artifacts

      - uses: actions/upload-artifact@v4
        with:
          name: zowe-server
          path: packages/cli/bin/server.pax.Z
