name: zos-build

on:
  pull_request:
    paths:
      - ".github/workflows/zos-build.yml"
      - "native/**"
  push:
    branches:
      - main

jobs:
  build-server:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Set up Credentials
        run: |
          cat << EOF > config.local.json
          {
            "host": "${{ secrets.SSH_MARIST_RACF_HOST }}",
            "port": 65522,
            "username": "${{ secrets.SSH_MARIST_USERNAME }}",
            "password": "${{ secrets.SSH_MARIST_RACF_PASSWORD }}",
            "deployDirectory": "/ZOWE/tmp/zowe-native-proto",
            "goEnv": "GOCACHE=/ZOWE/tmp/.go-cache GOTMPDIR=/ZOWE/tmp"
          }
          EOF

      - name: Install Dependencies
        run: npm ci --workspaces=false

      - name: Build on z/OS
        run: npm run z:all

      - uses: actions/upload-artifact@v4
        with:
          name: zowe-server
          path: packages/cli/bin/server.pax.Z

      - name: Clean up on z/OS
        if: always()
        run: npm run z:delete
